<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainteasers</title>
</head>
<body>
    <main class="content">
        <div class="first-section">
            <div class="intro">
                <span>Myriads of Challenging Crossword Puzzles</span>
                <p><span style="font-weight: bold;">Brainteasers</span> is a sophisticated crossword compilation engineered to push your cognitive limits and test the depth of your vocabulary. 
                    Designed for true puzzle aficionados, even someone who knows more than a pocket-sized dictionary is likely to get stuck on a few words.</p> 
            </div>
            <div class="example">
                <p>Not available for the moment</p>
            </div>
        </div>
        <div class="author">

        </div>
        <div class="second-section">
            <div class="features">

            </div>
            <div class="pricing">

            </div>
        </div>
    </main>
</body>
</html>

-------------------------------------------------------------------------
|introduction of the book 1:     About the author 3:
|                         |   |                |
|                         |   |                |
|                         |   |                |
|                         |   |                |
|-------------------------     ----------------
| Pricing and buy options 4:
|                         |
| ----------------------- |
||                       ||
| ----------------------- |
|                         |
|-------------------------
| This book adressed to 6:
|                       |
|                       |
|                       |
|                       |
|                       |
| ----------------------
| Features and Benefits 5:
|                        |
|                        |
|                        |
|                        |
|------------------------
|
| Try it yourself 2: 
|                 |
|                 |
|                 |
|                 |
 -----------------