<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainteasers</title>
</head>
<body>
    <main class="content">
        <div class="first-section">
            <div class="intro">

            </div>
            <div class="example">

            </div>
        </div>
        <div class="author">

        </div>
        <div class="second-section">
            <div class="features">

            </div>
            <div class="pricing">
                
            </div>
        </div>
    </main>
</body>
</html>

-------------------------------------------------------------------------
|introduction of the book 1:     About the author 3:
|                         |   |                |
|                         |   |                |
|                         |   |                |
|                         |   |                |
|-------------------------     ----------------
| Pricing and buy options 4:
|                         |
| ----------------------- |
||                       ||
| ----------------------- |
|                         |
|-------------------------
| This book adressed to 6:
|                       |
|                       |
|                       |
|                       |
|                       |
| ----------------------
| Features and Benefits 5:
|                        |
|                        |
|                        |
|                        |
|------------------------
|
| Try it yourself 2: 
|                 |
|                 |
|                 |
|                 |
 -----------------