<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">    <title>Brainteasers</title>
</head>
<body>
    <main class="main-content">
        <div class="first-section">
            <div class="intro">
                <div class="title-intro">
                    <h1>Myriads of Challenging Crossword Puzzles</h1>
                    <p class="book-intro"><span style="font-weight: bold;">Brainteasers</span> is a sophisticated crossword compilation engineered to push your cognitive limits and test the depth of your vocabulary. 
                        Designed for true puzzle aficionados, even someone who knows more than a pocket-sized dictionary is likely to get stuck on a few words.</p> 
                </div>
                <div>
                    <img class="front-book-image" src="../assets/first-book-page.png" alt="Front matter" width="300px">
                </div>
            </div>
            <div class="example">
                <p>Exemples are Not available for the moment</p>
            </div>
        </div>
        <hr>
        <h1 style="text-align: center;font-size:50px;">About the Author</h1>
        <div class="author">
            <div class="author-image">
                <img src="../assets/test-avatar.webp">
                <span>RACHID LAANANI</span>
            </div>
            <div class="author-info">
                <ul>
                    <li>He penned Myriads of Articals in Arabic, English and Frensh.</li>
                    <li>PhD, Sultan Moulay Slimane Beni Mellal.</li>
                    <li>Master: 2018-2020 Gender Studies Sultane Moulay Slimane Beni Mellal.</li>
                    <li>Supervising Editor: 2013-2016 at the Moroccan Scientific Community including a group of talents majoring in exact sciences to simplify scientific knowledge for all.</li>
                    <li>Teacher of English (High School) since 1997.</li>
                    <li>Ecole Normale Superieure: 1996, Rabat, English language.</li>
                    <li>Diploma in Italian language: 1995 Dante Alighieri Institute at the Italian Embassy, Casablanca.</li>
                    <li>BA in the English language and its literature: 1994, Chouaib Doukkali University El Jadida.</li>
                    <li>Baccalaureate: 1990, Khouribga (Experimental Sciences).</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="second-section">
            <div class="features">

            </div>
            <div class="pricing">

            </div>
        </div>
    </main>
</body>
</html>

-------------------------------------------------------------------------

----------------------------------------------
Nav bar: pricing | author | Features | ...
----------------------------------------------
|introduction of the book 1:  About the author 3:
|                         |   |                |
|                         |   |                |
|                         |   |                |
|                         |   |                |
|-------------------------     ----------------
| Pricing and buy options 4:
|                         |
| ----------------------- |
||                       ||
| ----------------------- |
|                         |
|-------------------------
| This book adressed to 6:
|                       |
|                       |
|                       |
|                       |
|                       |
| ----------------------
| Features and Benefits 5:
|                        |
|                        |
|                        |
|                        |
|------------------------
|
| Try it yourself 2: 
|                 |
|                 |
|                 |
|                 |
 -----------------
----------------------------------------------------------------------------