<div style="margin:0; padding:30px 15px; background-color:#fffaf5; color:#1c130d; font-family:Arial,Helvetica,sans-serif; text-align:center;">
    <h1 style="margin:0 0 15px;  color:#1c130d;">Here is your <strong style="color:#f59e0b;">Puzzle</strong> solution!</h1>
    <p style="margin:0 0 25px; font-size:16px; line-height:24px;">Great job working through it. Below is the completed grid:</p>
    <img src="https://brainteasers-puzzles.vercel.app/static/images/puzzle-solution.png" alt="Puzzle solution" style="display:block; width:500px; max-width:100%; height:auto; margin:0 auto 25px; border:3px solid #f59e0b; border-radius:12px;">
    <p style="margin:0 0 20px; font-size:16px; line-height:24px;">Enjoyed this puzzle? Get full books with more challenging and interactive grids!</p>
    <div style="margin:0 auto;">
        <a href="#" style="display:block; width:150px; margin:0 auto 10px; padding:12px 0; background-color:#f59e0b; color:#1c130d; text-decoration:none; border-radius:12px; font-weight:bold;">Buy PDF Format</a>
        <a href="#"style="display:block; width:150px; margin:0 auto 10px; padding:12px 0; background-color:#f59e0b; color:#1c130d; text-decoration:none; border-radius:12px; font-weight:bold;">Buy Paper Format</a>
        <a href="https://brainteasers-puzzles.vercel.app" style="display:block; width:150px; margin:0 auto; padding:12px 0; background-color:#f59e0b; color:#1c130d; text-decoration:none; border-radius:12px; font-weight:bold;">Go back to website</a>
    </div>
</div>